@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

/*Global css */

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --nav-background-color: #333;
  --primary-color: #EAD9AE;
  --secondary-color: #333;
  --third-color: #04aa6d;
  --primary-typo-color: #333;
  --secondary-typo-color: #141414;
}

/* ---------NAV SECTIOn---------- */
.topnav {
  background-color: var(--nav-background-color);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--primary-color);
  color: white;
}

.topnav .icon {
  display: none;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--primary-color);
  color: var(--primary-typo-colors);
}


/* ----------------HEADER section------------------ */
header {
  background-image: url(images/pexels-helena-lopes-1796698.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* title on the backg image */
h1 {
  display: flex;
  justify-content: center;
  color: var(--primary-typo-color);
  padding: 3em 0;
}

/*------------- Main section -----------------*/
section {
  background-color: var(--primary-color);
}

h2,
h3,
p {
  color: var(--primary-typo-color);
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}

h3 {
  padding: 1rem;
}

/*Maps*/

#myMaps {
  height: 400px;
}

.maps {
  height: 200px;
  width: 300px;
}

.breweriesBio {
  display: grid;
  grid-template-columns: 1fr;
  text-align: justify;
}

.brewName {
  display: flex;
  justify-content: flex-start;
}

.breweriesBio article {
  width: unset;
  color:#f76c6c;
}
/*Resources*/

.video-resources {
  display: grid;
  grid-template-rows: auto;
}

/* beer img */
.bieresImages {
  width: 70%;
  display: block;
  margin: 5vh auto;
  border-radius: 1%;
}

.bieresImages:hover {
  transform: scale(120%);
  border-radius: 5%;
  transition: 0.7s;

}

/* background image section */
#first-backg {
  background-image: url(images/beer-g2df68c568_1920.jpg);
}

#second-backg {
  background-image: url(images/beer-g0e47d6d15_1920.jpg);
}

#third-backg {
  background-image: url(images/pexels-pixabay-63633.jpg);
}

.backgroundImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

/* ----------FOOTER SECTION------------ */
footer {
  display: flex;
  align-items: center;
  background-color: #333;
  width: 100%;
  height: 10vh;
}

footer>h4 {
  color: var(--primary-color);
}

/*-----------MEDIA QUERIES-------------*/

@media screen and (max-width: 768px) {
.topnav a:not(:first-child) {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}}

@media screen and (max-width: 768px) {
.topnav.responsive {
  position: relative;
}

.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}}

@media screen and (min-width:768px) {
  .breweriesBio {
    grid-template-columns: repeat(4, 1fr);
}

section.breweriesBio h2 {
  grid-column: 1 / 5;
}

.breweriesBio article:first-of-type {
  grid-row: 2 / 4;
}
}