/* Add a black background color to the top navigation */
* {
  margin: 0
}

:root {
  --nav-background-color: #333;

}

.topnav {
  background-color: var(--nav-background-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


/* HEADER section */
header {
  background-image: url(images/pexels-helena-lopes-1796698.jpg);
  background-size: cover;
  background-attachment: fixed;

}

/* title on the backg image */
h1 {
  display: flex;
  justify-content: center;
  color: black;
  padding: 4em 0;
}

/* Main section */
h2 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

h3 {
  padding: 1rem;
}