@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Global css */

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.875rem;
  text-align: center;
}

p {
  font-size: 1rem;
  margin: 3rem;
  line-height: 1.2rem;
  text-align: justify;
}

:root {
  --nav-background-color: #333;
  --primary-color: #EAD9AE;
  --secondary-color: #333;
  --third-color: #d8c492;
  --primary-typo-color: #121212;
  --secondary-typo-color: #333;
  --third-typo-color: #EAD9AE;
}

/* ---------NAV SECTIOn---------- */
.topnav {
  background-color: var(--nav-background-color);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--primary-color);
  color: white;
}

.topnav .icon {
  display: none;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--primary-color);
  color: var(--primary-typo-colors);
}


/* ----------------HEADER section------------------ */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(images/pexels-helena-lopes-1796698.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* title on the backg image */
h1 {
  display: flex;
  justify-content: center;
  color: var(--third-typo-color);
  padding: 3em 0;
}

/*------------- First section -----------------*/
h2,
.medium-line {

  text-align: justify;
  color: var(--primary-typo-color);
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  font-weight: 800;

}

.medium-line {
  border-top: 1px solid black;
  width: 50vw;
  margin: auto;
  padding: 0;
}

.summary-and-paragraph>p {
  margin-top: 1rem;
}


/*Maps*/

#myMaps {
  height: 300px;
}

#mapsTitle {
  display: flex;
  justify-self: center;
  text-align: center;
}

.brewName {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

section article p {
  display: flex;
  justify-content: center;
  margin: 15px 30px;
  padding: 10px;
}

.breweriesBio {
  display: flex;
  justify-content: center;
}

.maps {
  height: 200px;
  margin: 30px 4em 0px 4em;
  border-radius: 12px;
  border: solid 1px rgb(49, 46, 46);
}

/*Resources*/

.video-resources {
  display: grid;
  grid-template-rows: auto;
}

/* beer img */
.bieresImages {
  width: 70%;
  display: block;
  margin: 5vh auto;
  border-radius: 1%;
  box-shadow: 0.8rem 0.8rem 0.5rem var(--secondary-typo-color);
}

.bieresImages:hover {
  transform: scale(110%);
  border-radius: 5%;
  transition: 0.7s;

}

/* background image section */
#first-backg {
  background-image: url(images/beer-g2df68c568_1920.jpg);
}

#second-backg {
  background-image: url(images/beer-g0e47d6d15_1920.jpg);
}

#third-backg {
  background-image: url(images/pexels-pixabay-63633.jpg);
}

.backgroundImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

/* --------------summary------------ */
.summary {
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  width: 50%;
  color: var(--third-typo-color);
  box-shadow: 0.8rem 0.8rem 0.5rem var(--primary-typo-color);
}

.summary>ul {
  list-style-type: none;
}

.summary-list>li,
.summary>h3 {
  padding: 0.25rem;
}

.summary-list>li>a:link,
.summary-list>li>a:visited {
  overflow: hidden;
  color: var(--third-typo-color);
}


/* ----------FOOTER SECTION------------ */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  width: 100%;
  height: 10vh;
}

footer>h4 {
  color: var(--primary-color);
  margin: 0 1rem;
}

.fa-beer-mug-empty {
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 1rem;
}


/* ---------MEDIA QUERIES--------- */

@media screen and (min-width: 768px) {
  .summary-and-paragraph {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .summary {
    padding-right: 8rem;
    margin: 2rem;
  }


  .bieresImages {
    width: 60%;
    max-width: 30rem;
    padding: 0rem;
  }

  .beer-section>p,
  .home-main-section>p,
  .home-welcome>p {
    margin: 10vh 10vw 10vh;
  }

  .summary-and-paragraph>p {
    margin: 4vh 5vw;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

.backgroundImg {}

/*-----------MEDIA QUERIES-------------*/

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }

  #myMaps {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .breweriesBio {
    grid-template-columns: repeat(4, 1fr);
  }

  section.breweriesBio h2 {
    grid-column: 1 / 5;
  }

  .breweriesBio article:first-of-type {
    grid-row: 2 / 4;
  }

  #homemaps {
    display: none;
  }
}